*{
  Line-height: 1.618em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.beat-container, .note-supply {
	display: flex;
}


#beat1, #beat2, #beat3, #beat4 {	
  width: 100px;
  height: 100px; 
  border-bottom-style: solid;
  margin:0px 5px 0px 5px;
}


p {
  color: red;
  font-size: 5rem;
  cursor: move;
  width: 50px;
}